search {{ dns_startup_name }}
{% for vm in groups['dns_master'] -%}
nameserver {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor -%}
{% for vm in groups['dns_slave'] -%}
nameserver {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor -%}

