---
# # config file version
apiVersion: 1

datasources:
#   # <string, required> name of the datasource. Required
 - name: Prometheus
#   # <string, required> datasource type. Required
   type: prometheus
#   # <string, required> access mode. direct or proxy. Required
   access: proxy
#   # <int> org id. will default to orgId 1 if not specified
   orgId: 1
#   # <string> url
   url: http://prometheus:9090/prometheus
#   # <string> database password, if used
   password:
#   # <string> database user, if used
   user:
#   # <string> database name, if used
   database:
#   # <bool> enable/disable basic auth
   isDefault: true
#   # <map> fields that will be converted to json and stored in json_data
   version: 1
#   # <bool> allow users to edit datasources from the UI.
   editable: false
   
 - name: Influxdb-latency
   type: influxdb
   access: proxy
   orgId: 1
   url: http://infuxdb:8086

   password:
   user:
   database: latency
   isDefault: false
   version: 1
   editable: false
   
 - name: Influxdb-telegraf
   type: influxdb
   access: proxy
   orgId: 1
   url: http://influxdb:8086
   password:
   user:
   database: telegraf
   isDefault: false
   version: 1
   editable: false
    
