---
apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   access: proxy
   orgId: 1
   url: http://prometheus:9090/prometheus
   password:
   user:
   database:
   isDefault: true
   version: 1
   editable: false
   
 - name: Influxdb-latency
   type: influxdb
   access: proxy
   orgId: 1
   url: http://influxdb:8086/
   password:
   user:
   database: latency
   isDefault: false
   version: 1
   editable: false
   
 - name: Influxdb-telegraf
   type: influxdb
   access: proxy
   orgId: 1
   url: http://influxdb:8086/
   password:
   user:
   database: telegraf
   isDefault: false
   version: 1
   editable: false
    
