ARGS='
  --collect.slave_status
'
# By default the connection string will be read from
# $HOME/my.cnf or from the file specified with the -config.my-cnf parameter.

# Note the user must be granted enough privileges for the exporter to run.
# Example to create a user to connect with the UNIX socket:
#
#  CREATE USER IF NOT EXISTS 'prometheus'@'localhost' IDENTIFIED VIA unix_socket;
#  GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'prometheus'@'localhost';

# Set the command-line arguments to pass to the exporter.
# ARGS='-config.my-cnf /etc/mysql/debian.cnf'

# Usage of prometheus-mysqld-exporter:
#  --collect.slave_status
#       Collect from SHOW SLAVE STATUS

