acl infrastructure_net { 
	{% for net in access_networks -%}
	{{ net }}; 
	{% endfor -%}
};

options {
	directory "/var/cache/bind";

	forwarders {
		{% for r in route -%}
		{{ r }}; 
		{% endfor -%}
	};

	dnssec-validation auto;	
	
	allow-query { 
		infrastructure_net; 
	};
	
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "dns_transfer_key" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key }}";
};

key "dns_nsupdate_key" {
	algorithm hmac-sha256;
	secret "{{ dns_nsupdate_key }}";
};

