global:
  scrape_interval:	15s
  evaluation_interval:	15s
  
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval:	5s
    scrape_timeout:	5s
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']
          
  - job_name: linux
    static_configs:
      - targets:
{% for vm in groups['all'] %}
        - {{ vm }}:9100
{% endfor %}

  - job_name: bind9
    static_configs:
      - targets:
        - ns_master:9119
{% for num in range(groups['dns_slave']|length) %}
        - ns{{ num + 1 }}:9119
{% endfor %}

  - job_name: mysql
    static_configs:
      - targets:
        - mysql_master:9104
{% for num in range(groups['db_slave_servers']|length) %}
        - mysql{{ num + 1 }}:9104
{% endfor %}

  - job_name: keepalived
    static_configs:
      - targets:
        - keepalived_master:9165
{% for num in range(groups['keepalived_slave_servers']|length) %}
        - lb{{ num + 1 }}:9165
{% endfor %}

  - job_name: haproxy
    static_configs:
      - targets:
        - keepalived_master:9101
{% for num in range(groups['keepalived_slave_servers']|length) %}
        - lb{{ num + 1 }}:9101
{% endfor %}

  - job_name: nginx
    static_configs:
      - targets:
{% for num in range(groups['nginx_servers']|length) %}
        - ngnix{{ num + 1 }}:9113
{% endfor %}

  - job_name: grafana
    static_configs:
      - targets:
        - grafana:{{ grafana_port }}

  - job_name: influxdb
    static_configs:
      - targets:
        - influxdb:9424

